__pycache__/
*.py[cod]
venv/
.venv/
*.egg-info/
.pytest_cache/

tests/*/gen/
tests/*/gen_amap/
tests/*/ipbusxml/
tests/*/python_raw/agwb/
tests/*/python_ipbus/agwb/
tests/*/agwb_*.core
tests/*/agwb_*.eprj

hybrid/gen/
hybrid/agwb_*.core

tests/*/general-cores/

*.o
*.cf
*.ghw
*.vcd
work-obj*.cf
agwb-obj*.cf
general_cores-obj*.cf
tests/*/wb_test_top_tb

vunit_out/
hybrid/vivado/*.jou
hybrid/vivado/*.log
hybrid/vivado/*.str
hybrid/vivado/.Xil/
hybrid/vivado/reports/

.vscode/
*.swp
*~